<div class="game-play">
  <header class="game-header">
    <h1><%= @game.name %></h1>
    <div class="game-info">
      <span class="player-info">
        Playing as: <strong><%= @active_character.name %></strong>
        <% if @is_impersonating %>
          <span class="badge badge-warning">(DM Impersonating)</span>
        <% end %>
      </span>
      <% if @active_character.area %>
        <span class="location-info">Location: <strong><%= @active_character.area.name %></strong></span>
      <% end %>
    </div>
  </header>

  <%= turbo_stream_from "game_#{@game.id}_character_#{@active_character.id}_messages" %>

  <div class="chat-container">
    <div class="messages-container" id="messages" data-controller="auto-scroll">
      <% @messages.each do |message| %>
        <%= render "games/messages/message", message: message, player_character: @active_character %>
      <% end %>
    </div>

    <div class="message-form-container">
      <%= render "games/messages/form", game: @game, message: @message, character_id: params[:character_id] %>
    </div>
  </div>

  <footer class="game-footer">
    <%= link_to "Game Control", game_dm_path(@game), class: "btn btn-warning" %>
    <%= link_to "Back to Games", games_path, class: "btn btn-secondary" %>
  </footer>
</div>