<h1><%= @game.name %></h1>

<div class="game-resources">
  <h2>Game Resources</h2>
  <div class="resource-links">
    <%= link_to "Areas", game_areas_path(@game), class: "btn btn-primary" %>
    <%= link_to "Characters", game_characters_path(@game), class: "btn btn-primary" %>
  </div>
</div>

<% if @game.creating? %>
  <div class="game-start">
    <p>When you're ready to start playing:</p>
    <%= button_to "Start Game", game_path(@game), method: :patch,
        params: { game: { state: "playing" } },
        class: "btn btn-success" %>
  </div>
<% end %>

<% if @game.characters.dm.exists? %>
  <div class="dm-link mt-3">
    <%= link_to "DM Interface", game_dm_path(@game), class: "btn btn-secondary" %>
  </div>
<% end %>

<p>
  <%= link_to "Edit", edit_game_path(@game) %>
  <%= link_to "Back to Games", games_path %>
</p>