<div class="container">
  <h1>New Character for <%= @game.name %></h1>

  <%= form_with(model: [@game, @character]) do |form| %>
    <%= form_errors(@character) %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, rows: 4 %>
    </div>

    <div class="field">
      <%= form.label :properties, "Properties (JSON)" %>
      <%= form.text_area :properties, rows: 6, placeholder: '{"key": "value"}' %>
    </div>

    <div class="field">
      <%= form.label :area_id, "Area" %>
      <%= form.select :area_id, options_from_collection_for_select(@game.areas, :id, :name, @character.area_id), { include_blank: "No area" }, class: "form-select" %>
    </div>

    <div class="field">
      <%= form.check_box :is_player %>
      <%= form.label :is_player, "Player Character" %>
    </div>

    <div class="field">
      <%= form.check_box :is_dm %>
      <%= form.label :is_dm, "Dungeon Master (DM)" %>
    </div>

    <div class="actions">
      <%= form.submit "Create Character", class: "btn btn-primary" %>
      <%= link_to "Cancel", game_characters_path(@game), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>