<div class="container">
  <h1><%= @character.name %></h1>

  <div class="description">
    <h2>Description</h2>
    <p><%= @character.description %></p>
  </div>

  <% if @character.properties.present? %>
    <div class="properties">
      <h2>Properties</h2>
      <pre><%= JSON.pretty_generate(@character.properties) %></pre>
    </div>
  <% end %>

  <div class="actions">
    <%= link_to "Edit", edit_game_character_path(@game, @character), class: "btn btn-primary" %>
    <%= button_to "Delete", game_character_path(@game, @character), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>

  <div class="navigation">
    <%= link_to "Back to Characters", game_characters_path(@game), class: "btn btn-secondary" %>
  </div>
</div>