<%= form_with model: [@game, message], url: game_dm_messages_path(@game), 
              local: false, id: "new_dm_message_form",
              data: { controller: "message-form", dm_message_form_target: "form" } do |f| %>
  <%= form_errors(message) %>
  
  <div class="form-group mb-2">
    <label>Message Type:</label>
    <%= f.select :message_type, options_for_select([["Chat", "chat"], ["System", "system"], ["Action", "action"]], "system"),
                 {}, class: "form-select" %>
  </div>
  
  <div class="message-input-container">
    <%= f.text_area :content,
        placeholder: "What do you want to say or do?",
        rows: 2,
        class: "message-input",
        autocomplete: "off",
        data: { controller: "message-form", action: "keydown.enter->message-form#submitOnEnter" } %>
    <%= f.submit "Send", class: "btn btn-primary" %>
  </div>
<% end %>